<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Foundation.CodeEditor" 
					description="Foundation.CodeEditor templates and renderings" 
					
				>
          <targetDataStore
            physicalRootPath="$(foundationFolder)\CodeEditor\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="FieldTypes" database="core" path="/sitecore/system/Field types/SF"/>
              <include name="Templates" database="master" path="/sitecore/templates/SF/Foundation/CodeEditor"/>
              <include name="Settings" database="master" path="/sitecore/system/Modules/Code Editor"/>              
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
