<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Sitecore.SharedSource.Shell.Applications.ContentEditor" assembly="Sitecore.SharedSource.CodeEditor" prefix="codetext" patch:before="*[1]"/>
      <source mode="on" namespace="Sitecore.SharedSource.Shell.Applications.ContentEditor" assembly="Sitecore.SharedSource.CodeEditor" prefix="content" patch:before="*[1]"/>
      <source mode="on" namespace="Sitecore.SharedSource.Shell.Applications.ContentEditor" assembly="Sitecore.SharedSource.CodeEditor" prefix="richtextex" patch:before="*[1]"/>
    </controlSources>
    <mediaLibrary>
      <mediaTypes>
        <mediaType name="Javascript" extensions="js">
          <mimeType>application/x-javascript</mimeType>
          <forceDownload>false</forceDownload>
          <sharedTemplate>system/media/unversioned/code</sharedTemplate>
          <versionedTemplate>system/media/versioned/code</versionedTemplate>
        </mediaType>
        <mediaType name="Stylesheet" extensions="css">
          <mimeType>text/css</mimeType>
          <forceDownload>false</forceDownload>
          <sharedTemplate>system/media/unversioned/code</sharedTemplate>
          <versionedTemplate>system/media/versioned/code</versionedTemplate>
        </mediaType>
        <mediaType name="Html" extensions="html">
          <mimeType>text/html</mimeType>
          <forceDownload>false</forceDownload>
          <sharedTemplate>system/media/unversioned/code</sharedTemplate>
          <versionedTemplate>system/media/versioned/code</versionedTemplate>
        </mediaType>
        <mediaType name="Xml" extensions="xml">
          <mimeType>text/xml</mimeType>
          <forceDownload>false</forceDownload>
          <sharedTemplate>system/media/unversioned/code</sharedTemplate>
          <versionedTemplate>system/media/versioned/code</versionedTemplate>
        </mediaType>
        <mediaType name="Json" extensions="json">
          <mimeType>application/json</mimeType>
          <forceDownload>false</forceDownload>
          <sharedTemplate>system/media/unversioned/code</sharedTemplate>
          <versionedTemplate>system/media/versioned/code</versionedTemplate>
        </mediaType>
        <mediaType name="Text" extensions="txt">
          <mimeType>plain/text</mimeType>
          <forceDownload>false</forceDownload>
          <sharedTemplate>system/media/unversioned/code</sharedTemplate>
          <versionedTemplate>system/media/versioned/code</versionedTemplate>
        </mediaType>
        <mediaType name="Scss" extensions="scss">
          <mimeType>text/scss</mimeType>
          <forceDownload>false</forceDownload>
          <sharedTemplate>system/media/unversioned/code</sharedTemplate>
          <versionedTemplate>system/media/versioned/code</versionedTemplate>
        </mediaType>
        <mediaType name="Markdown" extensions="md">
          <mimeType>text/plain</mimeType>
          <forceDownload>false</forceDownload>
          <sharedTemplate>system/media/unversioned/code</sharedTemplate>
          <versionedTemplate>system/media/versioned/code</versionedTemplate>
        </mediaType>
        <mediaType name="PowerShell" extensions="ps1">
          <mimeType>text/plain</mimeType>
          <forceDownload>false</forceDownload>
          <sharedTemplate>system/media/unversioned/code</sharedTemplate>
          <versionedTemplate>system/media/versioned/code</versionedTemplate>
        </mediaType>
        <mediaType name="Less" extensions="less">
          <mimeType>text/css</mimeType>
          <forceDownload>false</forceDownload>
          <sharedTemplate>system/media/unversioned/code</sharedTemplate>
          <versionedTemplate>system/media/versioned/code</versionedTemplate>
        </mediaType>
      </mediaTypes>
    </mediaLibrary>
    <processors>
      <saveUI>
        <processor mode="on" patch:instead="*[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" type="Sitecore.SharedSource.Pipelines.Save.SaveEx, Sitecore.SharedSource.CodeEditor" />
      </saveUI>
    </processors>
    <settings>
      <setting name="CodeEditor.Settings.Database" value="master" />
      <setting name="CodeEditor.Media.ScriptsPath" value="/Scripts/Media/" />
      <setting name="CodeEditor.Media.StylesPath" value="/Content/Media/" />
    </settings>

    <pipelines>
      <renderField>
        <processor patch:before="processor[3]" type="Sitecore.SharedSource.Pipelines.GetCodeTextFieldValue, Sitecore.SharedSource.CodeEditor"/>
      </renderField>
      <renderContentEditor>
        <processor patch:before="processor[1]"
          type="Sitecore.Sharedsource.Shell.Applications.ContentEditor.Pipelines.SetEditorFormatter,Sitecore.Sharedsource.CodeEditor" />
      </renderContentEditor>
    </pipelines>
    <fieldTypes>
      <fieldType  patch:before="fieldType[1]" name="Code Text" type="Sitecore.SharedSource.Data.Fields.CodeTextField,Sitecore.SharedSource.CodeEditor" resizable="true" />
    </fieldTypes>

    <!-- Lucene index configuration settings: Sitecore 7.0 - 7.1 -->
    <!--
    <contentSearch>
      <configuration>
        <defaultIndexConfiguration>
          <fieldReaders>
            <mapFieldByTypeName>
              <fieldReader fieldTypeName="code text" fieldReaderType="Sitecore.SharedSource.Data.Fields.CodeTextFieldReader, Sitecore.SharedSource.CodeEditor" />
            </mapFieldByTypeName>
          </fieldReaders>
        </defaultIndexConfiguration>
      </configuration>
    </contentSearch> -->

    <!-- Lucene index configuration settings: Sitecore 7.2+ -->
    <!--
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>
          <fieldReaders>
            <mapFieldByTypeName>
              <fieldReader fieldTypeName="code text" fieldReaderType="Sitecore.SharedSource.Data.Fields.CodeTextFieldReader, Sitecore.SharedSource.CodeEditor" />
            </mapFieldByTypeName>
          </fieldReaders>
        </defaultIndexConfiguration>
      </configuration>
    </contentSearch> -->
    
  </sitecore>
</configuration>