<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Foundation.Components" 
					description="Foundation.Components templates and renderings"
					dependencies="Foundation.Serialization"
				>
          <targetDataStore
            physicalRootPath="$(foundationFolder)\Components\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
              <!-- Note that this still includes base component templates used in HTML components and other places. -->
            <include name="Templates" database="master" path="/sitecore/templates/Foundation/SF/Components"/>
            <include name="InsertRule" database="master" path="/sitecore/system/Settings/Rules/Insert Options/Rules/Add View Rendering Field to Variant Definition"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
