/*
This is an example of how to use the image sprite in your own CSS files
*/
.content-site-img-tags-date {
/* You may have to set 'display: block' */
	width: 15px;
	height: 28px;
	background: url('tags.png') -1px -1px;
}
.content-site-img-tags-press {
/* You may have to set 'display: block' */
	width: 16px;
	height: 28px;
	background: url('tags.png') -1px -30px;
}
