@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.Structure
@using SF.Foundation.Components

@{
    //Get Button Rendering Parameter Values
    string style = Html.GetRenderingParameter("Style");
    string size = Html.GetRenderingParameter("Sizing");
    string category = Html.GetRenderingParameter("Category");    
    
    System.Text.StringBuilder sb = new System.Text.StringBuilder();
    sb.Append("button");
    if (!string.IsNullOrEmpty(style))
    {
        sb.Append(" ").Append(style);
    }
    if (!string.IsNullOrEmpty(size))
    {
        sb.Append(" ").Append(size);
    }
    if (!string.IsNullOrEmpty(category))
    {
        sb.Append(" ").Append(category);
    }
}

<li @Html.GetContainerTagAttributes("has-form")>@Html.Sitecore().Field("Link", new { @class= sb.ToString()})</li>