<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <docProcessors>
        <processor type="SF.Feature.Doc.Pipeline.CoverPageDocProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.RevisionsProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.IntroProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.DesignIntroProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.HelixDetailsProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.DotNetProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.TemplateProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.BranchTemplateProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.PickListProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.DictionaryItemProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.RendererProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.PlaceholderProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.PageDesignProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.PartialDesignProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.AvailableRenderingsProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.SiteBoostrappingProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.TenantBoostrappingProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.VariantProcessor, SF.Feature.Doc" />
        <processor type="SF.Feature.Doc.Pipeline.TOCProcessor, SF.Feature.Doc" />
      </docProcessors>
      
    </pipelines>
    
  </sitecore>
</configuration>
