<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Foundation.Shell" 
					description="Foundation.Shell templates and renderings"
					dependencies="Foundation.Serialization"
				>
          <targetDataStore
            physicalRootPath="$(foundationFolder)\Shell\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="RibbonButtons" database="core" path="/sitecore/content/Applications/WebEdit/Ribbons/WebEdit/View/Show/Highlight Renderings"/>
            <include name="Ribbon" database="core" path="/sitecore/content/Applications/WebEdit/Ribbons/WebEdit/Properties">
                <exclude childrenOfPath="Meta Data" />
                <exclude childrenOfPath="Resources" />
                <exclude childrenOfPath="Social Data" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
