<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.GenerateFieldEditorUrl" type="SF.Foundation.Shell.GenerateFieldEditorUrl, SF.Foundation.Shell"/>
    </sitecore.experienceeditor.speak.requests>    
  </sitecore>
</configuration>
