<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Project.Common" 
					description="Project.Common templates and renderings"
					dependencies="Feature.*"
				>
          <targetDataStore
            physicalRootPath="$(projectFolder)\Common\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/SF/Project/Common"/>
            <include name="BranchTemplates" database="master" path="/sitecore/templates/Branches/SF/Project/Common"/>
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/SF/Project/Common"/>


          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
