<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Feature.FoundationComponents" 
					description="Feature.FoundationComponents templates and renderings"
					dependencies="Foundation.*"
				>
          <targetDataStore
            physicalRootPath="$(featureFolder)\FoundationComponents\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/SF/Feature/FoundationComponents"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/SF/Features/FoundationComponents"/>
            <include name="Thumbnails" database="master" path="/sitecore/media library/SF/Feature/FoundationComponents"/>
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/SF/Feature/FoundationComponents"/>

            <include name="FoundationJS" database="master" path="/sitecore/content/Global/Scripts/Feature/FoundationComponents" />
            <include name="FoundationCSS" database="master" path="/sitecore/content/Global/CSS/Feature/FoundationComponents" />

            
            <include name="PickLists_Alignments" database="master" path="/sitecore/content/Global/Pick Lists/Alignments"/>
            <include name="PickLists_ButtonSizes" database="master" path="/sitecore/content/Global/Pick Lists/Button Sizes"/>
            <include name="PickLists_ModalSizes" database="master" path="/sitecore/content/Global/Pick Lists/Modal Sizes"/>
            <include name="PickLists_ButtonStyles" database="master" path="/sitecore/content/Global/Pick Lists/Button Styles"/>
            <include name="PickLists_ButtonCategories" database="master" path="/sitecore/content/Global/Pick Lists/Button Categories"/>
            <include name="PickLists_Icons" database="master" path="/sitecore/content/Global/Pick Lists/Icons"/>
            <include name="PickLists_Sizes" database="master" path="/sitecore/content/Global/Pick Lists/Sizes"/>
            <include name="PickLists_TopBarPositioning" database="master" path="/sitecore/content/Global/Pick Lists/Top Bar Positioning"/>
              
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
