<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:saved">
        <handler type="SF.Foundation.Structure.CleanOrphanRenderings, SF.Foundation.Structure" method="OnItemSaved"
                     patch:before="handler[@type='Sitecore.Links.ItemEventHandler, Sitecore.Kernel' and @method='OnItemSaved']"/>
      </event>
    </events>
    <pipelines>      
      <getPlaceholderRenderings>
        <processor patch:before="*[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"
                   type="SF.Foundation.Structure.DynamicPlaceholder.GetDynamicKeyAllowedRenderings, SF.Foundation.Structure" />
      </getPlaceholderRenderings>

      <getChromeData>
        <processor patch:after="*[@type='Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel']"
                   type="SF.Foundation.Structure.DynamicPlaceholder.GetDynamicPlaceholderChromeData, SF.Foundation.Structure" />

        <processor patch:instead="*[@type='Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel']"
                     type="SF.Foundation.Structure.GetPlaceholderChromeDataCachedPerRequest, SF.Foundation.Structure" />

      </getChromeData>      
    </pipelines>
    
  </sitecore>
</configuration>
