<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <processCustomLinkRules>
      </processCustomLinkRules>
    </pipelines>
      <linkManager>
          <providers>
              <add name="sitecore">
                  <patch:attribute name="type">
                      SF.Foundation.Structure.PipelineLinkProvider, SF.Foundation.Structure
                  </patch:attribute>
              </add>
          </providers>
      </linkManager>
  </sitecore>
</configuration>
