<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Foundation.Structure" 
					description="Foundation.Structure templates and renderings"
					dependencies="Foundation.Serialization"
				>
          <targetDataStore
            physicalRootPath="$(foundationFolder)\Structure\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
              <include name="GlobalDictionary" database="master" path="/sitecore/content/Global/Global Dictionary Domain">
                  <exclude children="true" />
              </include>
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
