<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                   type="SF.Feature.SiteMap.SitemapPipelineHandler, SF.Feature.SiteMap"/>
      </httpRequestBegin>
    <preprocessRequest>
        <processor type="Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel">
            <param desc="Allowed extensions (comma separated)">aspx, ashx, asmx, txt, ico, xml, css, js</param>
        </processor>
    </preprocessRequest>
    </pipelines>
    
  </sitecore>
</configuration>
