<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <handlebarHelpers>
        <processor type="SF.Feature.Handlebars.RegisterFormatDateHelper, SF.Feature.Handlebars" />
        <processor type="SF.Feature.Handlebars.RegisterIfEqualHelper, SF.Feature.Handlebars" />
        <processor type="SF.Feature.Handlebars.RegisterJSONHelper, SF.Feature.Handlebars" />
        <processor type="SF.Feature.Handlebars.RegisterPlaceholderHelper, SF.Feature.Handlebars" />
        <processor type="SF.Feature.Handlebars.RegisterUserSettingsHelper, SF.Feature.Handlebars" />
        <processor type="SF.Feature.Handlebars.RegisterIfNotEqualHelper, SF.Feature.Handlebars" />
        <processor type="SF.Feature.Handlebars.RegisterRenderFieldWithParameters, SF.Feature.Handlebars" />
        <processor type="SF.Feature.Handlebars.RegisterEditFrameHelper, SF.Feature.Handlebars" />
      </handlebarHelpers>
      <parseVariantFields>
        <processor type="SF.Feature.Handlebars.Variants.ParseHandlebarTemplate, SF.Feature.Handlebars" resolve="true"/>
      </parseVariantFields>
      <renderVariantField>
        <processor type="SF.Feature.Handlebars.Variants.RenderHandlebarTemplate, SF.Feature.Handlebars" resolve="true"/>
      </renderVariantField>
    </pipelines>
    <services>
      <configurator type="SF.Feature.Handlebars.Repositories.RegisterDependencies, SF.Feature.Handlebars" />
    </services>
  </sitecore>
</configuration>
