<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Feature.Handlebars" 
					description="Feature.Handlebars templates and renderings"
					dependencies="Foundation.*, Feature.FoundationComponents"
				>
          <targetDataStore
            physicalRootPath="$(featureFolder)\Handlebars\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature" database="master" path="/sitecore/system/Settings/Feature/SF/Handlebars"/>
            <include name="Templates" database="master" path="/sitecore/templates/Feature/SF/Handlebars"/>
            <include name="Branches" database="master" path="/sitecore/templates/Branches/Feature/SF/Handlebars"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/SF/Handlebars"/>
            <include name="Thumbnails" database="master" path="/sitecore/media library/Feature/SF/Handlebars"/>
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/SF/Handlebars"/>
            <include name="FormProcessors" database="master" path="/sitecore/content/Global/Form Processors"/>
            <include name="ExpBut1" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Handlebar Facet Container Settings"/>
            <include name="ExpBut2" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Handlebar Json Container Settings"/>
            <include name="ExpBut3" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Handlebar Query Settings"/>
            <include name="ExpBut4" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Handlebar Settings"/>
            <include name="ExpBut5" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Edit Template"/>
            <include name="ExpBut6" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Handlebar Form Settings"/>
            <include name="PickList_OrderBy" database="master" path="/sitecore/content/Global/Pick Lists/Order By"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
