
<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration
                            name="Feature.Analytics"
                            description="Feature.Analtyics templates and renderings"
                            dependencies="Foundation.*"
				>
                    <targetDataStore
                      physicalRootPath="$(featureFolder)\Analytics\$(configurationFolder)"
                      useDataCache="false"
                      type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                      singleInstance="true"
          />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Templates" database="master" path="/sitecore/templates/SF/Feature/Analytics"/>
                        <include name="MCP" database="master" path="/sitecore/system/Marketing Control Panel/Client Side Interactions" >
                            <exclude children="true" />
                        </include>

                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
