<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Feature.Analytics" 
					description="Feature.Analytics templates and renderings" 
					dependencies="Foundation.*"
				>
          <targetDataStore
            physicalRootPath="$(featureFolder)\Analytics\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
              <include name="JS" database="master" path="/sitecore/content/Global/Scripts/Feature/Analytics" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
