<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.DataExchange.DataAccess.NoReferences" version="2.0.171013" targetFramework="net47" developmentDependency="true" />
  <package id="Sitecore.DataExchange.Local.NoReferences" version="2.0.171013" targetFramework="net47" developmentDependency="true" />
  <package id="Sitecore.DataExchange.NoReferences" version="2.0.171013" targetFramework="net47" developmentDependency="true" />
  <package id="Sitecore.DataExchange.Providers.Sc.NoReferences" version="1.4.170419" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.171002" targetFramework="net47" developmentDependency="true" />
  <package id="Sitecore.Services.Core.NoReferences" version="9.0.171002" targetFramework="net47" developmentDependency="true" />
  <package id="Sitecore.Services.Infrastructure.NoReferences" version="9.0.171002" targetFramework="net47" developmentDependency="true" />
  <package id="Sitecore.Services.Infrastructure.Sitecore.NoReferences" version="9.0.171002" targetFramework="net47" developmentDependency="true" />
  <package id="System.Collections" version="4.0.11" targetFramework="net47" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net47" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net47" />
  <package id="System.Threading" version="4.0.11" targetFramework="net47" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net47" />
</packages>