@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.Structure

@model RenderingModel

@using (Html.ComponentContainer("row container-1col"))
{
    <div class="large-12 small-12 medium-12 columns" >
        @Html.Sitecore().DynamicPlaceholder("Column1")
    </div>
}