@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.Structure

@model RenderingModel

@{
    System.Text.StringBuilder sb = new System.Text.StringBuilder();
    if (Html.GetCheckboxRenderingParameterValue("StackOnSmall"))
    {
        sb.Append("small-12 ");
    }
    else
    {
        sb.Append("small-6 ");
    }
    if (Html.GetCheckboxRenderingParameterValue("StackOnMedium"))
    {
        sb.Append("medium-12 ");
    }
    else
    {
        sb.Append("medium-6 ");
    }

    var stackAttributes = sb.ToString().Trim();
}

@using (Html.ComponentContainer("row container-2col"))
{
    <div class="large-6 @stackAttributes columns">
        @Html.Sitecore().DynamicPlaceholder("Column1")
    </div>
    <div class="large-6 @stackAttributes columns">
        @Html.Sitecore().DynamicPlaceholder("Column2")
    </div>
}