<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Project.FoundationCommon" 
					description="Project.FoundationCommon templates and renderings" 
					
				>
          <targetDataStore
            physicalRootPath="$(projectFolder)\FoundationCommon\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/SF/Project/FoundationCommon"/>
            <include name="Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/SF/Project/FoundationCommon"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
