<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Foundation.CommonComponents" 
					description="Foundation.CommonComponents templates and renderings"
					dependencies="Foundation.Serialization"
				>
          <targetDataStore
            physicalRootPath="$(foundationFolder)\CommonComponents\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/SF/Foundation/CommonComponents"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/SF/Foundation/CommonComponents"/>
            <include name="Thumbnails" database="master" path="/sitecore/media library/SF/Foundation/CommonComponents"/>
            <include name="iframeButton" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/iFrame Settings"/>
            <include name="SilverlightButton" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Silverlight Settings"/>
              
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
