<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <pipelines>
      
      <mvc.getRenderer>
        <processor patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']" type="SF.Foundation.CommonComponents.GetSiteViewRenderer, SF.Foundation.CommonComponents" />
      </mvc.getRenderer>

    </pipelines>
  </sitecore>
</configuration>