@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model SF.Feature.Handlebars.Models.HandlebarContainerModel

<div @Html.Sxa().Component("handlebar-container", Model.Attributes)>
    <div class="component-content">
        @Html.Sitecore().DynamicPlaceholder("HandlebarTemplates")
    </div>
</div>