@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.Structure
@using SF.Foundation.CommonComponents
@using SF.Feature.Handlebars

@model RenderingModel

@{
    var templateContent = Model.Item.Fields["Content"].Value;
    var hasTemplateContent = !string.IsNullOrEmpty(templateContent.Trim());
}

@using (Html.ComponentContainer("HandlebarTemplate"))
{
    if (Sitecore.Context.PageMode.IsExperienceEditorEditing && !hasTemplateContent)
    {
        <div>Current Handlebars Template is empty. Please configure it.</div>
    }
    
    @Html.GetTemplatedContent(Model.Item)

}