<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Feature.OwlCarousel" 
					description="Feature.OwlCarousel templates and renderings"
					dependencies="Foundation.*, Feature.FoundationComponents"
				>
          <targetDataStore
            physicalRootPath="$(featureFolder)\OwlCarousel\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/SF/Feature/OwlCarousel"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/SF/Features/OwlCarousel"/>
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/SF/Feature/OwlCarousel"/>
            <include name="PickList_Transitions" database="master" path="/sitecore/content/Global/Pick Lists/Transitions"/>
            <include name="Thumbnails" database="master" path="/sitecore/media library/SF/Feature/OwlCarousel"/>

              </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
