<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Feature.OwlCarousel" 
					description="Feature.OwlCarousel templates and renderings"
					dependencies="Foundation.*, Feature.FoundationComponents"
				>
          <targetDataStore
            physicalRootPath="$(featureFolder)\OwlCarousel\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
            <include name="Templates" database="master" path="/sitecore/templates/Feature/SF/Owl Carousel"/>
            <include name="ThemeExtensions" database="master" path="/sitecore/media library/Extension Themes/Owl Carousel"/>
            <include name="Branches" database="master" path="/sitecore/templates/Branches/Feature/SF/Owl Carousel"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/SF/Owl Carousel"/>
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/SF/Owl Carousel"/>
            <include name="PickList_Transitions" database="master" path="/sitecore/content/Global/Pick Lists/Transitions"/>
            <include name="Thumbnails" database="master" path="/sitecore/media library/Feature/SF/Owl Carousel"/>
            <include name="Feature" database="master" path="/sitecore/system/Settings/Feature/SF/Owl Carousel"/>
              </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
