ul.accordion{
         margin-bottom:15px;
         margin-left:0;

         .example {
	          //border-radius: 5px;
	          //font-size: .85em;
         }
}

dl.accordion{
        margin-bottom:15px;

}