@import "../base/_colors";

.button {
	border-radius: 5px;
	//font-size: .85em;

	&.info {
		background-color: $color3;
	}

	.glyphicon {
		margin: 6px 10px;
	}

	&.primary {
		background-color: $button-primary;
		color: $button-primary-text;
	}
}

.button-link {
	background-color: transparent;
	color: $color5;

	&:hover {
		background-color: transparent;
		color: $color5;
	}
}
