@import "../base/_colors";
@import "../base/_fonts";
@import "../layout/_breakpoints";

#xd-grid {
    color:#fff;
    font-size:12px;

    .row {
        margin: 5px 0;

        .columns:first-child{
            background: #ccc;
        }

        .columns:nth-child(2){
            background: #e1e1e1;
        }

        .columns:last-child{
            background: #999;
        }
    }
}