.icon-social {
	background: url(../../img/icons/social.png) no-repeat;
	display: block;
	height: 32px;
	width: 32px;

	&.icon-social-facebook {
		background-position: -50px 0;
	}

	&.icon-social-twitter {
		background-position: 0 0;
	}

	&.icon-social-youtube {
		background-position: -100px 0;
	}

	&.icon-social-google {
		background-position: -400px 0;
	}
}

.glyphicon {
	background: url(../../img/icons/glyphicons.png) no-repeat;
	display: block;
	height: 24px;
	width: 24px;

	&.glyphicon-calendar {
		background-position: -1px -549px;
	}

	&.glyphicon-clipboard {
		background-position: -1px -5366px;
	}

	&.glyphicon-search {
		background-position: -1px -4795px;
	}
}
