@import "../base/_colors";

.sidebar-bordered {
	li {
		background-color: $color2;
		border: 1px solid $color1;
		border-bottom-width: 0;
		margin: 0;

		&:last-child {
			border-bottom-width: 1px;
		}

		&.heading {
			background-color: $color3;
			color: $color1;
			padding: 0.4375rem 0.875rem;
		}
	}
}
