.tag {
	background: url(../../img/tags/tags.png) no-repeat;
	height: 28px;
	width: 15px;
}

.tag-date {
	background-position: -1px -1px;
}

.tag-press {
	background-position: -1px -30px;
}

.tags-labeled {
	.tag {
		float: left;
		margin-right: 20px;
		padding: 1px 0 0 20px;
		width: auto;
	}
}