@import "../base/_colors";
@import "../base/_fonts";
@import "../layout/_breakpoints";

.top-bar,
.top-bar .name h1 a,
.top-bar-section ul li,
.top-bar-section ul li > a,
.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: transparent;
	color: $color5;
	font-family: $primary-font-stack;
}

.top-bar {
	&.expanded .title-area {
		background: #fff;
	}

	.toggle-topbar.menu-icon a span::after {
		box-shadow: 0 0 0 1px #000,0 7px 0 1px #000,0 14px 0 1px #000;
	}
}

.top-bar-section {
	li {
		> a {
			color: #004976 !important;
			font-size: 14px !important;
			font-weight: bold !important;
			padding: 8px 25px !important;
			text-transform: uppercase !important;
		}

		.dropdown a {
			color: #fff !important;
		}

		&.active > a {
			background-color: #F3F2EE !important;
			color: #000 !important;
		}

		&:hover {
			> a {
				background-color: #003250 !important;
				color: #9ccffd !important;
			}

			.dropdown a {
				background-color: #003250 !important;
				color: #fff !important;
				font-weight: normal !important;
				text-transform: none !important;

				&:hover {
					background-color: #002942 !important;
					color: #9CCFFD !important;
				}
			}
		}
	}

	.has-dropdown > a:after {
		top: 1.9rem;
	}
}

@media (min-width: $small) {
	.top-bar {
		height: 3.7rem;
	}
}
