<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Foundation.Serialization" 
					description="Foundation.Serialization templates and renderings" 

				>
          <targetDataStore
            physicalRootPath="$(foundationFolder)\Serialization\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

              

              <!-- Templates -->
              <include name="Foundation.Serialization.Templates" database="master" path="/sitecore/templates/SF">
                  <exclude childrenOfPath="/sitecore/templates/SF/Feature" />
                  <exclude childrenOfPath="/sitecore/templates/SF/Foundation" />
                  <exclude childrenOfPath="/sitecore/templates/SF/Project" />
              </include>


              <!-- Branches -->
              <include name="Foundation.Serialization.Branches" database="master" path="/sitecore/templates/Branches/SF">
                  <exclude childrenOfPath="/sitecore/templates/branches/SF/Project" />
              </include>


              <!-- Renderings -->
              <include name="Foundation.Serialization.Renderings" database="master" path="/sitecore/layout/renderings/sf">
                  <exclude childrenOfPath="/sitecore/layout/renderings/sf/Feature" />
                  <exclude childrenOfPath="/sitecore/layout/renderings/sf/Foundation" />
                  <exclude childrenOfPath="/sitecore/layout/renderings/sf/Project" />
              </include>

              <!-- Layouts -->
              <include name="Foundation.Serialization.Layouts" database="master" path="/sitecore/layout/layouts/sf">
                  <exclude childrenOfPath="/sitecore/layout/layouts/sf/Feature" />
                  <exclude childrenOfPath="/sitecore/layout/layouts/sf/Project" />
              </include>

              <!-- Placeholder Settings -->
              <include name="Foundation.Serialization.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/sf">
                  <exclude childrenOfPath="/sitecore/layout/placeholder settings/sf/Feature" />
                  <exclude childrenOfPath="/sitecore/layout/placeholder settings/sf/Foundation" />
                  <exclude childrenOfPath="/sitecore/layout/placeholder settings/sf/Project" />
              </include>


              <!-- Media -->
              <include name="Foundation.Serialization.Media" database="master" path="/sitecore/media library/sf">
                  <exclude childrenOfPath="/sitecore/media library/sf/Feature" />
                  <exclude childrenOfPath="/sitecore/media library/sf/Foundation" />
                  <exclude childrenOfPath="/sitecore/media library/sf/Project" />
              </include>


              <!-- Data Exchange -->
              <include name="DataExchange.Templates" database="master" path="/sitecore/templates/Data Exchange/Providers/SF">
                  <exclude childrenOfPath="/sitecore/templates/Data Exchange/Providers/SF/Feature" />
              </include>

              <!-- Global -->
              <include name="Global" database="master" path="/sitecore/content/global">
                  <exclude children="true" >
                      <except name="Pick Lists" />
                  </exclude>
                  <exclude childrenOfPath="/sitecore/content/Global/Pick Lists" />                  
              </include>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
