<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Foundation.Serialization" 
					description="Foundation.Serialization templates and renderings" 

				>
          <targetDataStore
            physicalRootPath="$(foundationFolder)\Serialization\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Features -->
            
            <include name="Foundation.Serialization.Feature.Settings" database="master" path="/sitecore/system/Settings/Feature/SF">
              <exclude children="true" >
              </exclude>
            </include>
            <include name="Foundation.Serialization.Foundation.Settings" database="master" path="/sitecore/system/Settings/Foundation/SF">
              <exclude children="true" >
              </exclude>
            </include>

            <!-- Templates -->
              <include name="Foundation.Serialization.Feature.Templates" database="master" path="/sitecore/templates/Feature/SF">
                <exclude children="true" >
                </exclude>
              </include>
              <include name="Foundation.Serialization.Foundation.Templates" database="master" path="/sitecore/templates/Foundation/SF">
                <exclude children="true" >
                </exclude>
              </include>

            
              <!-- Branches -->
            <include name="Foundation.Serialization.Feature.Branches" database="master" path="/sitecore/templates/Branches/Feature/SF">
              <exclude children="true" >
              </exclude>
            </include>


              <!-- Renderings -->
            <include name="Foundation.Serialization.Feature.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/SF">
              <exclude children="true" >
              </exclude>
            </include>

              <!-- Layouts -->
            <include name="Foundation.Serialization.Feature.Layouts" database="master" path="/sitecore/layout/Layouts/Feature/SF">
              <exclude children="true" >
              </exclude>
            </include>

              <!-- Placeholder Settings -->
              <include name="Foundation.Serialization.Feature.Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Feature/SF">
                <exclude children="true" >
                </exclude>
              </include>

              <!-- Media -->
            <include name="Foundation.Serialization.Feature.Media" database="master" path="/sitecore/media library/Feature/SF">
              <exclude children="true" >
              </exclude>
            </include>

              <!-- Global -->
              <include name="Global" database="master" path="/sitecore/content/global">
                  <exclude children="true" >
                      <except name="Pick Lists" />
                  </exclude>
                  <exclude childrenOfPath="/sitecore/content/Global/Pick Lists" />                  
              </include>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
