<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <sc.variable name="sourceFolder" value="C:\SitecoreFoundation\src" />
        <sc.variable name="projectFolder" value="C:\SitecoreFoundation\src\Project" />
        <sc.variable name="configurationFolder" value="serialization" />
        <sc.variable name="foundationFolder" value="C:\SitecoreFoundation\src\Foundation" />
        <sc.variable name="featureFolder" value="C:\SitecoreFoundation\src\Feature" />
        <sc.variable name="rootHostName" value="dev.local" />
    </sitecore>
</configuration>
