<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <pipelines>
      <!--
      <httpRequestBegin>
        <processor type="Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel">
          <patch:attribute name="type">SF.Foundation.Multisite.MultiSitePageConfigurationPipeline, SF.Foundation.Multisite</patch:attribute>
        </processor>
      </httpRequestBegin>
        -->  
    </pipelines>
    
  </sitecore>
</configuration>
