@model Sitecore.Data.Items.Item

<div class="container" style="page-break-after:always; min-height:400px;">
    <div class="row">
        <div class="col-sm">
            <br /><br /><br /><br />
            <h1>@Model.Fields["Document Title"].Value</h1>
            <h2>@Model.Fields["Document Sub Title"].Value</h2>
            <hr />
            <br /><br /><br /><br />
            <div class="text-right">
                @Model.Fields["Document Creation Date"].Value
            </div>
         </div>
    </div>
</div>