@model Sitecore.Data.Items.Item

<div class="container" style="page-break-after:always; min-height:400px;">
    <div class="row">
        <div class="col-sm">
            <h1><a name="Introduction">Introduction</a></h1>
            <p>
                @Html.Raw(Model.Fields["Introduction"].Value)
            </p>   
         </div>
    </div>
</div>