<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <settings>
          <setting name="SF.TraceLogger.LogImmediately" value="true"/>
      </settings>
    <pipelines>
      <httpRequestProcessed>
        <processor type="SF.Foundation.TraceLogger.FlushTraceLoggerProcessor, SF.Foundation.TraceLogger"/>
      </httpRequestProcessed>
    </pipelines>
    
  </sitecore>
</configuration>
