<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Feature.RSS" 
					description="Feature.RSS templates and renderings" 
					
				>
          <targetDataStore
            physicalRootPath="$(featureFolder)\DXF\RSS\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Data Exchange/Providers/SF/Feature/RSS"/>
            <include name="Tenant" database="master" path="/sitecore/system/Data Exchange/Foundation RSS Tenant"/>
            <include name="Rules" database="master" path="/sitecore/system/Settings/Rules/Insert Options/Rules/Data Exchange - RSS Provider"/>
            <include name="TestTarget" database="master" path="/sitecore/content/Global/RSS Content">
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
