<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.Analytics" version="12.0.0" targetFramework="net472" />
  <package id="Sitecore.Analytics.Core" version="12.0.0" targetFramework="net472" />
  <package id="Sitecore.Analytics.Model" version="12.0.0" targetFramework="net472" />
  <package id="Sitecore.Kernel" version="12.0.0" targetFramework="net472" />
  <package id="System.Collections" version="4.0.11" targetFramework="net47" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net47" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net47" />
  <package id="System.Threading" version="4.0.11" targetFramework="net47" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net47" />
</packages>