<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Project.DXF" 
					description="Project.DXF templates and renderings" 
					dependencies="Feature.*"
				>
          <targetDataStore
            physicalRootPath="$(projectFolder)\DXF\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
              <include name="DatabaseTenant" database="master" path="/sitecore/system/Data Exchange/Foundation Database Tenant"/>
              <include name="FileTenant" database="master" path="/sitecore/system/Data Exchange/Foundation File System Tenant"/>
              <include name="RSSTenant" database="master" path="/sitecore/system/Data Exchange/Foundation RSS Tenant"/>
              <include name="ContactTenant" database="master" path="/sitecore/system/Data Exchange/Foundation Contact Import Tenant"/>
              <include name="TestTargetCity" database="master" path="/sitecore/content/Global/Cities">
                  <exclude children="true" />
              </include>
              <include name="TestTargetProduct" database="master" path="/sitecore/content/Global/Contoso Products">
                  <exclude children="true" />
              </include>
              <include name="TestTargetRSS" database="master" path="/sitecore/content/Global/RSS Content">
                  <exclude children="true" />
              </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
