<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="3.2.0" targetFramework="net46" />
  <package id="Sitecore.DataExchange.DataAccess.NoReferences" version="1.4.170419" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.DataExchange.Local.NoReferences" version="1.4.170419" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.DataExchange.NoReferences" version="1.4.170419" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="8.2.170614" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Services.Core.NoReferences" version="8.2.170614" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Services.Infrastructure.NoReferences" version="8.2.170614" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Services.Infrastructure.Sitecore.NoReferences" version="8.2.170614" targetFramework="net46" developmentDependency="true" />
</packages>