<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <registerConnectionProviders>
                <processor type="SF.DXF.Feature.Database.RegisterSQLProvider, SF.DXF.Feature.Database" />
                <processor type="SF.DXF.Feature.Database.RegisterOleDbProvider, SF.DXF.Feature.Database" />
                <processor type="SF.DXF.Feature.Database.RegisterOdbcProvider, SF.DXF.Feature.Database" />
            </registerConnectionProviders>
        </pipelines>
    </sitecore>
</configuration>