@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using SF.Foundation.Resources

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    @Html.GetHeaderStyles()

</head>
<body>
    <h1>Composite Component</h1>
    <div class="viewport">
        @Html.Sitecore().Placeholder(Sitecore.Context.Item["PlaceholderName"])
    </div>

    @Html.GetFooterScripts()
</body>

</html>