<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <!-- Register API Route -->
        <pipelines>
            <initialize>
                <processor patch:after="processor[@type='Sitecore.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Services.Infrastructure.Sitecore']"
                type="SF.Foundation.Resources.RegisterResourceRoutes, SF.Foundation.Resources" />
            </initialize>
        </pipelines>
        <!-- Allow API to be called remotely -->
        <api>
            <services>
                <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
                    <allowedControllers hint="list:AddController">
                        <allowedController desc="SyncController">SF.Foundation.Resources.SyncController, SF.Foundation.Resources</allowedController>
                    </allowedControllers>
                </configuration>
            </services>
        </api>
    </sitecore>
</configuration>
