@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.Structure

@model RenderingModel

<li @Html.GetContainerTagAttributes("blockGrid-item")>@Html.Sitecore().DynamicPlaceholder("Column1")</li>
