<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Sync Settings -->
      <setting name="SF.ResourceFileManager.AutoPublish" value="true"/>
      <setting name="SF.ResourceFileManager.PublishDB" value="web"/>
      <setting name="SF.ResourceFileManager.MasterDB" value="master"/>
    </settings>
    <watchers>
      <resources>
        <folder>/global</folder>
        <filter>*</filter>
      </resources>
    </watchers>
    <!-- Write File on Save -->
    <events>
      <event name="item:saved">
        <handler type="SF.Foundation.Resources.ResourceSavedHandler, SF.Foundation.Resources" method="OnItemSaved"
                     patch:before="handler[@type='Sitecore.Links.ItemEventHandler, Sitecore.Kernel' and @method='OnItemSaved']"/>
      </event>
    </events>
    
  </sitecore>
</configuration>
