<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Sync Settings -->
      <setting name="SF.ResourceFileManager.AutoPublish" value="true"/>
      <setting name="SF.ResourceFileManager.PublishDB" value="web"/>
      <setting name="SF.ResourceFileManager.MasterDB" value="master"/>
    </settings>
    <watchers>
      <resources>
        <folder>/mediaLibrary</folder>
        <filter>*</filter>
      </resources>
      <templates>
        <folder>/templates</folder>
        <filter>*</filter>
      </templates>
    </watchers>

  </sitecore>
</configuration>