<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      
      <setting name="SF.CSSProcessor" value="Less">
      </setting>

    </settings>
      <events>
          <event name="publish:end">
              <handler type="SF.Foundation.Resources.ClearResourceCacheOnPublish, SF.Foundation.Resources"
                       patch:after="handler[@type='Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel']">
                  <patch:attribute name="method">ClearResourceCache</patch:attribute>
                  <sites>
                      <patch:delete />
                  </sites>
              </handler>
          </event>
          <event name="publish:end:remote">
              <handler type="SF.Foundation.Resources.ClearResourceCacheOnPublish, SF.Foundation.Resources"
                       patch:after="handler[@type='Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel']">
                  <patch:attribute name="method">ClearResourceCache</patch:attribute>
                  <sites>
                      <patch:delete />
                  </sites>
              </handler>              
          </event>
      </events>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                   type="SF.Foundation.Resources.ResourcePipeline, SF.Foundation.Resources"/>
      </httpRequestBegin>
    </pipelines>
    </sitecore>
</configuration>
