<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Foundation.Resources" 
					description="Foundation.Resources templates and renderings"
					dependencies="Foundation.Configuration, Foundation.Serialization, Foundation.Shell"
				>
          <targetDataStore
            physicalRootPath="$(foundationFolder)\Resources\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/SF/Foundation/Resources"/>
            <include name="Ribbon" database="core" path="/sitecore/content/Applications/WebEdit/Ribbons/WebEdit/Properties/Resources"/>
            <include name="CssFolder" database="master" path="/sitecore/content/Global/CSS">
                <exclude children="true" />
            </include>
              <include name="LessFolder" database="master" path="/sitecore/content/Global/Less">
                  <exclude children="true" />
              </include>
              <include name="SassFolder" database="master" path="/sitecore/content/Global/Sass">
                  <exclude children="true" />
              </include>
              <include name="ScriptFolder" database="master" path="/sitecore/content/Global/Scripts">
                  <exclude children="true" />
              </include>
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
