@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.Structure
@using SF.Foundation.CommonComponents

@{
    string style = Html.GetRenderingParameter("Style");
    string category = Html.GetRenderingParameter("Category");

    System.Text.StringBuilder sb = new System.Text.StringBuilder();
    sb.Append("alert-box");
    if (!string.IsNullOrEmpty(style))
    {
        sb.Append(" ").Append(style);
    }
    if (!string.IsNullOrEmpty(category))
    {
        sb.Append(" ").Append(category);
    }
}

<div data-alert @Html.GetContainerTagAttributes(sb.ToString()) tabindex="0" aria-live="assertive" role="alertdialog">
  @Html.Sitecore().Field("Content")
  <button tabindex="0" class="close" aria-label="@Sitecore.Globalization.Translate.TextByDomain("Global Dictionary Domain", "SF.Alert.Close")">&times;</button>
</div>