@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.Structure
@using SF.Foundation.Components

@model RenderingModel
@{
    System.Text.StringBuilder sb = new System.Text.StringBuilder();
    
    if (Html.GetCheckboxRenderingParameterValue("IsButton"))
    {
        sb.Append(@"role=""button"" ");
    }

    if (Html.GetCheckboxRenderingParameterValue("Navigable"))
    {
        sb.Append(@"tabIndex=""0"" ");
    }
    
    string label = Model.Item.Fields["Label"].Value;
    if (!string.IsNullOrEmpty(label))
    {
        sb.Append(@"aria-label=""").Append(label).Append(@""" ");
    }
    
    var attributes = sb.ToString().Trim();
    
    string icon = Model.Item.Fields["Icon"].Value;
    
}

<a @Html.GetContainerTagAttributes("item") @attributes>
    
    @if (!string.IsNullOrEmpty(icon))
    {
         <i class="fi-@icon"></i>
    }
    
    @Html.Sitecore().Field("Icon Image")
    
    @if (!string.IsNullOrEmpty(label) || Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <label>@Html.Sitecore().Field("Label")</label>
    }
</a>