@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.Structure
@using SF.Foundation.Components

<li @Html.GetContainerTagAttributes("list-Item has-submenu")>@Html.Sitecore().Field("Link")
    <ul class="left-submenu">
        <li class="back"><a href="#">Back</a></li>
        @Html.Sitecore().DynamicPlaceholder("ListItems")
    </ul>
</li>