@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.Structure
@using SF.Foundation.CommonComponents

<li @Html.GetContainerTagAttributes("list-Item")>@Html.Sitecore().Field("Link")</li>