@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.Structure
@using SF.Foundation.CommonComponents

@model RenderingModel

@{
    string ID = Html.GetRenderingParameter("ID");
    string defaultID = "";
    if (string.IsNullOrEmpty(ID))
    {
        defaultID = string.Format(@"id={0}", "r" + RenderingContext.Current.Rendering.UniqueId.ToString("N"));
    }

    string title = Model.Item.Fields["Title"].Value;
}

<section role="tabpanel" aria-hidden="false" @Html.GetContainerTagAttributes("content") @defaultID data-title="@title">
    @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <span>Title:</span> @Html.Sitecore().Field("Title")
    }
    @Html.Sitecore().DynamicPlaceholder("Column1")
</section>