<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <processor type="SF.Feature.Analytics.RegisterAnalyticsRoutes, SF.Feature.Analytics"
                    patch:after="processor[@type='Sitecore.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Services.Infrastructure.Sitecore']" />
            </initialize>
        </pipelines>
        <api>
            <services>
                <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
                    <allowedControllers hint="list:AddController">
                        <allowedController desc="AnalyticsController">SF.Feature.Analytics.AnalyticsController, SF.Feature.Analytics</allowedController>
                    </allowedControllers>
                </configuration>
            </services>
        </api>
    </sitecore>
</configuration>