<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Feature.VideoJSPlayer" 
					description="Feature.VideoJSPlayer templates and renderings"
					dependencies="Foundation.*, Feature.FoundationComponents"
				>
          <targetDataStore
            physicalRootPath="$(featureFolder)\VideoJSPlayer\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature" database="master" path="/sitecore/system/Settings/Feature/SF/Video JS"/>
            <include name="Templates" database="master" path="/sitecore/templates/Feature/SF/Video JS"/>
            <include name="Branches" database="master" path="/sitecore/templates/Branches/Feature/SF/Video JS"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/SF/Video JS"/>
            <include name="CustomExpButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Video Settings"/>
            <include name="PickList_PreloadOptions" database="master" path="/sitecore/content/Global/Pick Lists/VideoPreloadOptions"/>
            <include name="Thumbnails" database="master" path="/sitecore/media library/Feature/SF/Video JS"/>

              </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
