<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="SF.Facets.DefaultArea" value="Glbal"/>
            
        </settings>
        <model>
            <elements>
                <element interface="SF.Foundation.Facets.IUserSettings, SF.Foundation.Facets" implementation="SF.Foundation.Facets.UserSettings, SF.Foundation.Facets"/>
                <element interface="SF.Foundation.Facets.IUserAreaSettings, SF.Foundation.Facets" implementation="SF.Foundation.Facets.UserAreaSettings, SF.Foundation.Facets"/>
                <element interface="SF.Foundation.Facets.IUserSettingValue, SF.Foundation.Facets" implementation="SF.Foundation.Facets.UserSettingValue, SF.Foundation.Facets"/>
            </elements>
            <entities>
                <contact>
                    <facets>
                        <facet name="UserSettings" contract="SF.Foundation.Facets.IUserSettings, SF.Foundation.Facets"/>
                    </facets>
                </contact>
            </entities>
        </model>
    </sitecore>
</configuration>
