<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!-- CDN Server Settings -->
            <setting name="SF.DEF.General.MaxThreads" value="10"/>
            <setting name="SF.DEF.General.MinThreads" value="10"/>
        </settings>
    </sitecore>
</configuration>