<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Sitecore.Analytics" version="12.0.0" targetFramework="net472" />
  <package id="Sitecore.Analytics.Core" version="12.0.0" targetFramework="net472" />
  <package id="Sitecore.Analytics.Model" version="12.0.0" targetFramework="net472" />
  <package id="Sitecore.Kernel" version="12.0.0" targetFramework="net472" />
  <package id="Sitecore.Services.Core" version="3.0.0" targetFramework="net472" />
  <package id="Sitecore.Services.Infrastructure" version="3.0.0" targetFramework="net472" />
  <package id="System.Collections" version="4.0.11" targetFramework="net47" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net47" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net47" />
  <package id="System.Threading" version="4.0.11" targetFramework="net47" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net47" />
</packages>