<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Feature.MetaTags" 
					description="Feature.MetaTags templates and renderings" 
					
				>
          <targetDataStore
            physicalRootPath="$(featureFolder)\MetaTags\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/SF/Feature/MetaTags"/>
            <include name="Ribbon" database="core" path="/sitecore/content/Applications/WebEdit/Ribbons/WebEdit/Properties/Meta Data/Edit Meta Data"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
