<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <registerConnectionProviders>
                <processor type="SF.Feature.DEF.Database.RegisterSQLProvider, SF.Feature.DEF.Database" />
                <processor type="SF.Feature.DEF.Database.RegisterOleDbProvider, SF.Feature.DEF.Database" />
                <processor type="SF.Feature.DEF.Database.RegisterOdbcProvider, SF.Feature.DEF.Database" />
            </registerConnectionProviders>
        </pipelines>
    </sitecore>
</configuration>