@import "../shared/base/_colors";

#contact-form select {
	margin: 0;
}

.sidebar-addresses {
	background-color: $color2;
	padding: 15px;
}

.get-a-quote {
	border: 1px solid $color3;
	display: inline-block;
	max-width: 300px;
	position: relative;

	.bg {
		opacity: 0.25;
	}

	.overlay {
		left: 0;
		position: absolute;
		top: 15%;
		width: 100%;

		.icon, .text {
			display: block;
			margin: 0 auto;
		}

		.icon {
			opacity: 0.5;
			padding-bottom: 10px;
		}

		.text {
			color: $color4;
			font-size: 1.2em;
			font-weight: bold;
		}
	}

	form.row.collapse {
		bottom: 0;
		padding: 5px;
		position: absolute;
		width: 100%;
	}

	input, .button {
		margin: 0;
	}
}
