<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <domainManager>
            <domains>
                <domain id="starterKit" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
                    <param desc="name">$(id)</param>
                    <ensureAnonymousUser>false</ensureAnonymousUser>
                </domain>
            </domains>
        </domainManager>
        <sites>
            
            <site name="starterKit" patch:after="site[@name='modules_website']" 
                  targetHostName="starterkit9.$(rootHostName)" 
                  hostName="starterkit9.$(rootHostName)" 
                  SF.SiteConfiguration="{FB373191-3FC9-4BB4-8010-AE91EEDEAF9E}" 
                  SF.ConfigRoot="{DA73E2C6-0C24-444A-8A3F-04CBA9926A96}" 
                  database="web" 
                  virtualFolder="/" 
                  physicalFolder="/" 
                  rootPath="/sitecore/content/" 
                  startItem="Starter Kit Sites/Sites/Starter Kit/Home" 
                  dictionaryPath="/sitecore/content/Starter Kit Sites/Sites/Starter Kit/Site Configuration/Site Dictionary" 
                  dictionaryAutoCreate="false" 
                  domain="starterKit" 
                  allowDebug="true" 
                  cacheHtml="true" 
                  htmlCacheSize="50MB" 
                  registryCacheSize="0" 
                  viewStateCacheSize="0" 
                  xslCacheSize="25MB" 
                  filteredItemsCacheSize="10MB" 
                  enablePreview="true" 
                  enableWebEdit="true" 
                  enableDebugger="true" 
                  disableClientData="false" 
                  cacheRenderingParameters="true" 
                  renderingParametersCacheSize="10MB" 
                  enableItemLanguageFallback="true" />
              
        </sites>
        <cacheSizes>
            <sites>
                <starterKit>
                    <html>50MB</html>
                    <registry>0</registry>
                    <viewState>0</viewState>
                    <xsl>25MB</xsl>
                </starterKit>
            </sites>
        </cacheSizes>
        <settings>
            <setting name="Preview.DefaultSite">
                <patch:attribute name="value" value="starterKit" />
            </setting>
        </settings>
    </sitecore>
</configuration>