<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Feature.SlickCarousel" 
					description="Feature.SlickCarousel templates and renderings"
					dependencies="Foundation.*, Feature.FoundationComponents"
				>
          <targetDataStore
            physicalRootPath="$(featureFolder)\SlickCarousel\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/SF/Feature/SlickCarousel"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/SF/Features/SlickCarousel"/>
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/SF/Feature/SlickCarousel"/>
            <include name="Thumbnails" database="master" path="/sitecore/media library/SF/Feature/SlickCarousel"/>

              <include name="JS" database="master" path="/sitecore/content/Global/Scripts/Feature/SlickCarousel" />
              <include name="CSS" database="master" path="/sitecore/content/Global/CSS/Feature/SlickCarousel" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
