@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.Structure
@using SF.Foundation.Components

<li @Html.GetContainerTagAttributes("has-dropdown nav-dropdown")>
    @Html.Sitecore().Field("Link")
    @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <ul>
            @Html.Sitecore().DynamicPlaceholder("NavLinks1")
        </ul>
    }
    else
    {      
        <ul class="dropdown">
            @Html.Sitecore().DynamicPlaceholder("NavLinks1")
        </ul>
    }
</li>