@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.Structure
@using SF.Foundation.CommonComponents

<li @Html.GetContainerTagAttributes("nav-label")><label>@Html.Sitecore().Field("Content")</label></li>