@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using SF.Foundation.Container
@using SF.Foundation.Structure
@using SF.Foundation.Components

<li @Html.GetContainerTagAttributes("nav-link")>@Html.Sitecore().Field("Link")</li>