/* https://color.adobe.com/Neutral-Blue-color-theme-22361/edit/?copy=true&base=0&rule=Custom&selected=4&name=Copy%20of%20Neutral%20Blue&mode=rgb&rgbvalues=0.988235,1,0.960784,0.819608,0.858824,0.741176,0.568627,0.666667,0.615686,0.243137,0.376471,0.435294,0.0980392,0.203922,0.254902&swatchOrder=0,1,2,3,4 */

$color1: #FFF;
$color2: #E8ECED;
$color3: rgb(0, 164, 153);
$color4: #004976;
$color5: #35262D;

$button-primary: #00A499;
$button-primary-text: #FFF;

$hero-background-color: #004976;